<div class="row">
  <h4>
    <i class="glyphicon glyphicon-globe "></i>
    Prezentacja
  </h4>

</div>

<div class="row">
  <strong>Email:</strong> <%= @user.email %>
</div>
<div class="row">
  <strong>Gender:</strong> <%= @user.gender %>
</div>
<div class="row">
  <strong>Birthdate:</strong> <%= @user.birthdate %>
</div>
<% if @user == current_user %>
  <div class="row">
      <%= form_for @user do |f| -%>
        <%= f.label 'Avatar url' %>
        <%= f.text_field :avatar_url %>
        <%= button_tag class: 'btn-primary' do %>
          <i class="glyphicon glyphicon-refresh"></i>
        <% end %>
      <% end -%>
      </div>

<% end %>


<div class="row">
  <%= render partial: 'shared/add_friend', locals: { user: @user } unless @user == current_user %>
</div>

