<h1><%= @user.name %></h1>

<div class="col-sm-4">
  <ul>
    <li> Email: <%= @user.email %></li>
    <li> Friends: <%= @user.accepted_friendships.size %></li>
    <% unless @user == current_user %>
      <li> <%= render partial: 'shared/add_friend', locals: { user: @user }  %> </li>
    <% end -%>
  </ul>
</div>


<div class="col-sm-6">
  <%= render 'shared/post_form' %>
  <% @user.posts.each do |p| %>


  <div class="spacer"></div>

  <div class='post'>

      <p class="blue"><strong><%= p.author.name %></strong></p>
      <hr>
      <p><%= p.content %></p>

      <hr>
      <div>

        <%= form_for @like do |f| -%>
          <%= f.hidden_field :author_id, value: current_user.id %>
          <%= f.hidden_field :parent_id, value: p.id %>
          <%= f.submit 'Lubie to', class: 'btn-primary' %>
        <% end %>

        <i class="glyphicon glyphicon-envelope"></i> Skomentuj
      </div>
  </div>

  <div class="comments">
      <p class="blue">
        <i class="glyphicon glyphicon-thumbs-up"></i>
        <% l = p.likes %>
          <%= link_to l[0].author.name, user_path(l[0].author) %>
          <%= link_to l[1].author.name, user_path(l[1].author) if l.size > 2 %>
          <%= "i #{l.size - 2}  innych uzytkownikow." if l.size > 3 %>
      </p>

      <hr class="slim"></hr>

    <% p.comments.each do |c| %>
      <p><strong class="blue">
        <%= link_to c.author.name, user_path(c.author) %></strong> <%= c.content %>
      </p>

    <% end %>

  </div>



  <% end %>
</div>




