<h1><%= @user.name %></h1>

<div class="col-sm-4">
  <ul>
    <li> Email: <%= @user.email %></li>
    <li> Friends: <%= @user.accepted_friendships.size %></li>
    <% unless @user == current_user %>
      <li> <%= render partial: 'shared/add_friend', locals: { user: @user }  %> </li>
    <% end -%>
  </ul>
</div>


<div class="col-sm-6">
  <%= render 'shared/post_form' %>
  <% @user.posts.each do |p| %>


  <div class="spacer"></div>

  <div class='post'>

      <p><%= p.author.name %></p>
      <hr>
      <p><%= p.content %></p>

      <hr>
      <div>
        <i class="glyphicon glyphicon-thumbs-up"></i> Lubie to!
        <i class="glyphicon glyphicon-envelope"></i> Skomentuj
      </div>
  </div>

  <div class="comments">
      <p><i class="glyphicon glyphicon-thumbs-up"></i> 21 osob lubi to.</p>
      <hr class="slim"></hr>



  </div>



  <% end %>
</div>




