<%= render partial: 'shared/post_form', locals: { user: @user } %>
  <% @user.wall_posts.reverse.each_with_index do |p, i| %>
    <div class="spacer"></div>

    <%= render partial: 'users/wall/post_body', locals: { p: p, i: i  } %>
    <%= render partial: 'users/wall/post_likes', locals: { p: p, i: i  } %>
    <%= render partial: 'users/wall/post_comments', locals: { p: p, i: i  } %>

    <div id="demo<%= i %>" class="collapse">
      <%= render partial: 'shared/comment_form', locals: { p: p } %>
    </div>
<% end %>