  <div class='post'>
      <p class="blue">
        <%= image_tag avatar_url(p.author, '32'), height: '32', width: '32' %>
        <strong><%= link_to p.author.name , user_path(p.author) %></strong>
      </p>
      <hr>
      <p><%= p.content %></p>
      <p><%= image_tag(p.photo) if p.photo.exists? %></p>

      <hr>
        <ul class="list-inline">
          <li>
              <%= render partial: 'likes/form', locals: { likable: p } %>
          </li>
          <li>
            <button class="btn-primary" data-toggle="collapse" data-target="#demo<%= i %>">
              <i class="glyphicon glyphicon-envelope"></i> Skomentuj
            </button>
          </li>
  </div>