  <div class='post'>
      <p >
        <%= image_tag avatar_url(p.author, '32'), height: '32', width: '32' %>
        <strong class="blue"><%= link_to p.author.name , user_path(p.author) %></strong>
        <%= time_ago_in_words(p.created_at) %>
      </p>
      <hr>
      <p><%= p.content %></p>
      <p><%= image_tag(p.photo) if p.photo.exists? %></p>

      <hr>
        <ul class="list-inline">
          <li>
              <%= render partial: 'likes/form', locals: { likable: p, no_icon: false } %>
          </li>
          <li>
            <button class="btn-primary" data-toggle="collapse" data-target="#demo<%= p.id %>">
              <i class="glyphicon glyphicon-envelope"></i> Skomentuj
            </button>
          </li>
  </div>