<%= render partial: '/posts/body',     locals: { p: p, i: i  } %>
<%= render partial: 'likes/bar',    locals: { p: p, i: i  } %>
<%= render partial: 'comments/comments', locals: { p: p, i: i  } %>
<div id="demo<%= i %>" class="collapse">
  <%= render partial: 'comments/comment_form', locals: { p: p } %>
</div>